/* Estilos para centralizar o conteúdo e definir a aparência do chat */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Estilos para a página de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container input,
.login-container button {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #bfc3c7;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Adicionado para conter o formulário fixo */
}

.chat-container h1 {
  margin-bottom: 20px;
}

.chat-container button {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilos para o formulário */
form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 10px;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Garante que o formulário fique sobre outros elementos */
}

form input {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  box-sizing: border-box;
}

form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

ul.messages {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin-bottom: 80px; /* Espaço extra para o formulário fixo */
  display: flex;
  flex-direction: column;
}

li.my-message {
  padding: 10px;
  margin: 5px 0;
  background-color: #dcf8c6;
  text-align: right;
  border-radius: 10px;
  color: black; /* Cor da fonte das mensagens do usuário */
  align-self: flex-end; /* Alinha as mensagens do usuário à direita */
  max-width: 80%; /* Limita a largura máxima da mensagem */
  word-wrap: break-word; /* Quebra palavras longas */
}

li.other-message {
  padding: 10px;
  margin: 5px 0;
  background-color: #f1f0f0;
  text-align: left;
  border-radius: 10px;
  color: black; /* Cor da fonte das mensagens de outros usuários */
  align-self: flex-start; /* Alinha as mensagens de outros usuários à esquerda */
  max-width: 80%; /* Limita a largura máxima da mensagem */
  word-wrap: break-word; /* Quebra palavras longas */
}
